
    .btn-platzi{
     background: #1AAF4B;
     color:white;   
    }

    .btn-platzi:hover{
        background: #158C37;
        color: white;
    }

.text-platzi{
    color: #1AAF4B !important; 
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
    
    }

#footer{
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}



#footer a{
    color:white;


}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;   
}

#carousel .overlay .container,
#carousel .overlay .row{

    height: 100%;
    }

    #place-time{
        background-color: #343a40;
        color: white;
    }

 #place-time img{
     max-width: 100%;
     
}

 #place-time p{
        font-size: 18px;
}
